.parent {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: 0.5fr repeat(4, 1fr);
    grid-column-gap: 0px;
    grid-row-gap: 0px;
    }
    
    .navBar { grid-area: 1 / 1 / 2 / 6; }
    .sideBar { grid-area: 2 / 1 / 6 / 2; }
    .mainDisplay { grid-area: 2 / 2 / 4 / 6; }
    .mapApi { grid-area: 4 / 2 / 6 / 4; }
    .tripleInfoPage { grid-area: 4 / 4 / 6 / 6; }